<!DOCTYPE html>

<html lang="en">


<head>


    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>

        Admin Login

    </title>



    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">


</head>



<body>




<div class="container">





    <div class="auth-box">





        <h1>

            Admin Panel

        </h1>




        <p>

            Enter admin password

        </p>






        <form id="adminLoginForm">





            <input


                type="password"


                id="adminPassword"


                placeholder="8 digit password"


                maxlength="8"


                required


            >






            <button type="submit">


                Login


            </button>





        </form>






    </div>






</div>







<script src="/static/js/admin.js"></script>



</body>


</html>