<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        {{ room.name }}
    </title>


    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}?v=10">


</head>


<body>


<div class="chat-container">



    <!-- HEADER -->

    <div class="chat-header">


        <div>

            <h2>
                {{ room.name }}
            </h2>


            <span id="roomStatus">
                Connecting...
            </span>

        </div>


    </div>





    <!-- MESSAGES -->


    <div id="messageBox" class="message-box">


    </div>






    <!-- INPUT AREA -->


    <div class="chat-input">



        <!-- ATTACHMENT BUTTON -->


        <label class="attach-btn">


            📎


            <input

                type="file"

                id="fileInput"

                hidden

            >


        </label>





        <!-- MESSAGE INPUT -->


        <input


            type="text"


            id="messageInput"


            placeholder="Type a message..."


        >







        <!-- SEND BUTTON -->


        <button id="sendBtn">


            ➤


        </button>




    </div>




</div>






<script>


const ROOM_ID =
"{{ room.id }}";


</script>



<script src="{{ url_for('static', path='js/chat.js') }}?v=10"></script>



</body>


</html>