<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        Create Room - RoomChat
    </title>


    <link rel="stylesheet" href="/static/css/style.css">

</head>



<body>


<div class="auth-container">


    <div class="auth-card">


        <h1>
            Create New Room
        </h1>


        <p>
            Make a private chat room
        </p>




        <form id="createRoomForm">


            <label>
                Room Name
            </label>


            <input

                type="text"

                id="roomName"

                placeholder="Example: Class 10 Study"

                required

            >





            <label>
                Room Password
            </label>


            <input

                type="password"

                id="roomPassword"

                placeholder="Create password"

                required

            >





            <button

                type="submit"

                class="primary-btn"

            >

                Create Room

            </button>



        </form>



        <p class="back-link">

            <a href="/">
                Back to Home
            </a>

        </p>



    </div>


</div>





<script src="/static/js/main.js"></script>

<script src="/static/js/room.js"></script>



</body>

</html>