<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RoomChat V2</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

</head>


<body>


<div class="container">


    <h1>
        RoomChat
    </h1>


    <p class="subtitle">
        Select a room to join
    </p>



    <div class="rooms-container">



        {% if rooms %}



            {% for room in rooms %}



            <div class="room-card">


                <h2>

                    {{ room.name }}

                </h2>



                <a href="/rooms/join/{{ room.id }}">

                    <button>

                        Join Room

                    </button>

                </a>


            </div>



            {% endfor %}



        {% else %}



            <p>

                No rooms available

            </p>



        {% endif %}



    </div>





    <div class="admin-box">


        <a href="/admin/login">


            <button class="admin-btn">

                Admin Panel

            </button>


        </a>


    </div>



</div>



<script src="/static/js/main.js"></script>


</body>


</html>