<!DOCTYPE html>

<html lang="en">


<head>


    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>

        Join Room

    </title>



    <link rel="stylesheet" href="/static/css/style.css">


</head>



<body>



<div class="container">



    <div class="auth-box">



        <h1>

            {{ room.name }}

        </h1>



        <p>

            Enter your details to join

        </p>




        <form id="joinRoomForm">



            <input

                type="hidden"

                id="roomId"

                value="{{ room.id }}"

            >




            <input

                type="text"

                id="username"

                placeholder="Username"

                required

            >




            <input

                type="password"

                id="roomPassword"

                placeholder="Room Password"

                required

            >





            <button type="submit">


                Join Chat


            </button>




        </form>




    </div>




</div>




<script src="/static/js/room.js"></script>



</body>


</html>