<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        Join Room - RoomChat
    </title>


    <link rel="stylesheet" href="/static/css/style.css">

</head>



<body>


<div class="auth-container">


    <div class="auth-card">


        <h1>
            Join Private Room
        </h1>


        <p>
            Enter room details to continue
        </p>





        <form id="joinRoomForm">





            <label>
                Room ID
            </label>


            <input

                type="number"

                id="roomId"

                placeholder="Enter room ID"

                required

            >






            <label>
                Room Password
            </label>


            <input

                type="password"

                id="roomPassword"

                placeholder="Enter room password"

                required

            >





            <label>
                Username
            </label>


            <input

                type="text"

                id="joinUsername"

                placeholder="Your username"

                required

            >






            <button

                type="submit"

                class="primary-btn"

            >

                Join Room

            </button>



        </form>





        <p class="back-link">

            <a href="/">
                Back to Home
            </a>

        </p>



    </div>


</div>





<script src="/static/js/main.js"></script>

<script src="/static/js/room.js"></script>



</body>

</html>